{{#each forecast}}
<div class="forecast-detail">
    <p><strong>Date: {{date}}</strong></p>
    <ul>
        <li class="condition"> Condition: {{condition}}</li>
        <li class="temp">High: {{high}} Low: {{low}}</li>
    </ul>
</div>
{{/each}}